<!DOCTYPE html>
<html>
<%- include ./head %>
    <body>
        <%- include ./nav %>
        <div class="page controlpage">
            <div class="logo">국방퀴즈</div>
            <div class="title">
                관리페이지
            </div>
            <div class="menu">
                <a href="admin" class="tab sel">현황<span></span></a>
                <a href="notice" class="tab">공지사항<span></span></a>
                <a href="userpg" class="tab">유저관리<span></span></a>
            </div>
        </div>
        <div class="page control">
            <div class="content">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="contnetTitle" >부대 별 인원 현황</div>
                            <div class="contentBody">
                                <table cellspacing="5">
                                    <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>부대 코드</th>
                                        <th>인원</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < members.length; i++){ %>
                                        <tr>
                                            <td><%= i+1 %>등</td>
                                            <td><%= members[i].uunitcode %></td>
                                            <td><%= members[i].members%></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="contnetTitle">부대 별 점수 현황</div>
                            <div class="contentBody">
                                <table cellspacing="5">
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>부대 코드</th>
                                            <th>점수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i < ranking.length; i++){ %>
                                        <tr>
                                            <td><%= i+1 %>등</td>
                                            <td><%= ranking[i].uunitcode %></td>
                                            <td><%= ranking[i].score%></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="contnetTitle">유저별 점수 현황</div>
                            <div class="contentBody">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>이름</th>
                                            <th>부대 코드</th>
                                            <th>점수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i < membersrank.length; i++){ %>
                                        <tr>
                                            <td><%= i+1 %>등</td>
                                            <td><%= membersrank[i].uname %></td>
                                            <td><%= membersrank[i].uunitcode %></td>
                                            <td><%= membersrank[i].uscore%></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener('scroll', () => {
            let y = window.scrollY;
            if (y > 120) {
                $('.navbar').addClass('navbar-bg');
            } else {
                $('.navbar').removeClass('navbar-bg');
            }
        });
        $('.post').click(function () {
            $('.post').find('.desc').removeClass('show');
            $(this).find('.desc').toggleClass('show');
        })
    </script>

</html>