<!DOCTYPE html>
<html>
<%- include ./head %>
    <body>
        <%- include ./nav %>
        <div class="page controlpage">
            <div class="logo">국방퀴즈</div>
            <div class="title">
                관리페이지
            </div>
            <div class="menu">
                <a href="admin" class="tab">현황<span></span></a>
                <a href="notice" class="tab sel">공지사항<span></span></a>
                <a href="userpg" class="tab">유저관리<span></span></a>
            </div>
        </div>
        <div class="page control">
            <div class="content">
                <div class="noticeboard">
                    <form class="noticeinsert" method="post" action="/addadminnotice">
                        <div class="input">
                            <input type="radio" id="ntypeI" name="iorn" value="i">
                            <label class="btn-sm btn-light-gray" for="ntypeI">중요</label> 
                            <input type="radio" id="ntypeN" name="iorn" value="n" checked>
                            <label class="btn-sm btn-light-gray"  for="ntypeN">일반</label> 
                            <input id="ntitle" name="title" type="text" placeholder="제목을 입력하세요.">
                            <input class="btn-sm btn-blue" type="submit" value="추가">
                        </div>
                        <input id="ndesc" name="addcontext" type="text" placeholder="내용을 입력하세요.">
                    </form>
                <div>
                <table>
                    <thead>
                        <tr>
                            <th>게시글번호</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post" action="/adminnoticedel">
                        <% for(var i = 0; i < notice.length; i++){ %>
                            <% if(notice[i].ntype === 1){ %>
                            <tr id="<%= i %>" onclick="modal(this)">
                                <td><%= notice[i].nid %>번</td>
                                <td style="text-align: left; padding-left: 8px;"><span class="btn-sm btn-blue">중요</span><%= notice[i].ntitle %></td>
                                <td style="text-align: left; padding-left: 8px;"><%= notice[i].ndesc.substr(0,20) %>...</td>
                                <td><%= notice[i].nauthor %></td>
                                <td><%= notice[i].ndate.toString().substr(0,16) %></td>
                                <td><input class="btn-sm btn-light-gray" type="submit" value="삭제" style="margin: 0;"></td>
                            </tr>
                            <% } else { %>
                            <tr id="<%= i %>" onclick="modal(this)">
                                <td><%= notice[i].nid %>번</td>
                                <td style="text-align: left; padding-left: 8px;"><%= notice[i].ntitle %></td>
                                <td style="text-align: left; padding-left: 8px;"><%= notice[i].ndesc.substr(0,20) %>...</td>
                                <td><%= notice[i].nauthor %></td>
                                <td><%= notice[i].ndate.toString().substr(0,16) %></td>
                                <td><input class="btn-sm btn-light-gray" type="submit" value="삭제" style="margin: 0;"></td>
                            </tr>
                            <% } %>
                            <input type="hidden" id="hidden<%= i %>" value="<%= notice[i].ndesc %>">
                            <input type="hidden" id="hiddenid<%= i %>" value="<%= notice[i].nid %>">
                        <% } %>
                        <input type="hidden" name="hiddennid" id="hiddennid" value="">
                        </form>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener('scroll', () => {
            let y = window.scrollY;
            if (y > 120) {
                $('.navbar').addClass('navbar-bg');
            } else {
                $('.navbar').removeClass('navbar-bg');
            }
        });
        $('.post').click(function () {
            $('.post').find('.desc').removeClass('show');
            $(this).find('.desc').toggleClass('show');
        })
    </script>

</html>