<!DOCTYPE html>
<html>
<%- include ./head %>
    <body>
        <%- include ./nav %>
        <div class="page controlpage">
            <div class="logo">국방퀴즈</div>
            <div class="title">
                관리페이지
            </div>
            <div class="menu">
                <a href="admin" class="tab">현황<span></span></a>
                <a href="notice" class="tab">공지사항<span></span></a>
                <a href="userpg" class="tab sel">유저관리<span></span></a>
            </div>
        </div>
        <div class="page control">
            <div class="content">
                <div class="noticeboard">
                    <form method="post" action="/adminuseredit">
                        <table>
                          <thead>
                            <tr>
                              <th>이름</th>
                              <th>부대 코드</th>
                              <th>점수</th>
                              <th>아이디</th>
                              <th>비밀번호</th>
                              <td style="border-bottom: 1px solid var(--gray);"><input class="btn-sm btn-blue" type="submit" value="저장" style="margin: 0;"></td>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i = 0; i < users.length; i++){ %>
                              <tr>
                                <td><input class = "adminUserInput" name="uname" value="<%= users[i].uname %>" type="text"></td>
                                <td><input class = "adminUserInput" name="uunitcode" type="text" value="<%= users[i].uunitcode %>"></td>
                                <td><input class = "adminUserInput" name="uscore" type="text" value="<%= users[i].uscore %>"></td>
                                <td><input class = "adminUserInput" name="uid" type="text" value="<%= users[i].uid %>" readonly></td>
                                <td><input class = "adminUserInput" name="upw" type="text" value="<%= users[i].upw %>"></td>
                                <td><button class="btn-sm btn-light-gray" id="<%= i %>" onclick="javascript: form.action='/adminuserdel'; takeuid(this);">삭제</button></td>
                                <input type="hidden" id="hiddenuid<%= i %>" value="<%= users[i].uid %>">
                              </tr>
                            <% } %>
                            <input type="hidden" id="hiddenuid" name="hiddenuid" value="">
                          </tbody>
                        </table>
                    </form>
                  </div>
            </div>
        </div>
    </body>
    <script>
        function mouseOver(target){
          target.style.color = 'green';
          target.style.cursor= 'pointer';
        }
  
        function mouseOut(target){
          target.style.color = 'white';
        }
  
        document.addEventListener('scroll', () => {
            let y = window.scrollY;
            if (y > 120) {
                $('.navbar').addClass('navbar-bg');
            } else {
                $('.navbar').removeClass('navbar-bg');
            }
        });
        $('.post').click(function () {
            $('.post').find('.desc').removeClass('show');
            $(this).find('.desc').toggleClass('show');
        })
  
        function takeuid(target){
          let uid = document.getElementById("hiddenuid"+target.id).value;
          document.getElementById("hiddenuid").value = uid;
        }
      </script>
</html>