<!DOCTYPE html>
<html>
<%- include ./head %>
    <body>
    <%- include ./dev %>
    <%- include ./nav %>
    <div class="page uinfo">
        <div class="col">
            <div class="upic">
                <img src="uploads/<%=udata.uid%>.png" onerror="this.src='images/user.png'">
                <form class="filebox" action="upload" method="post" enctype="multipart/form-data">
                    <label class="btn-sm btn-light-gray" for="ex_filename">νμΌμ„ νƒ</label> 
                    <input type="file" id="ex_filename" name="img" class="upload-hidden"> 
                    <input class="btn-sm btn-light-gray" type="submit" μ—…λ΅λ“>
                </form>
            </div>
            <div class="data">
                <div class="header">
                    <span>μ΄λ¦„</span>
                    <span>μ•„μ΄λ””</span>
                    <span>μ†μ†λ¶€λ€</span>
                    <span>ν¬μΈνΈ</span>
                </div>
                <div class="body">
                    <span>
                        <%=udata.uname%>
                        <% if (udata.utype === 'admin'){ %>
                            <p style="display: inline; color:brown"><strong>π—£[κ΄€λ¦¬μ]</strong></p>
                        <% } %>
                    </span>
                    <span><%=udata.uid%></span>
                    <span><%=udata.uunitcode%></span>
                    <span><%=udata.uscore%></span>
                </div>
            </div>
            <div class="uedit btn btn-blue">μ •λ³΄ μμ •</div>
        </div>
        <div class="col">
            <div class="content"></div>
        </div>
    </div>
    </body>
    <script>
        document.addEventListener('scroll', () => {
            let y = window.scrollY;
            if (y > 120) {
                $('.navbar').addClass('navbar-bg');
            } else {
                $('.navbar').removeClass('navbar-bg');
            }
        });
        $('.post').click(function () {
            $('.post').find('.desc').removeClass('show');
            $(this).find('.desc').toggleClass('show');
        })
    </script>
</html>