<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>문제 생성</h1>

        <table>
            <thead>
                <th>문제</th>
                <th></th>
                <th>답</th>
            </thead>
            <tbody>
                <!-- 전술 -->
                <tr>
                    <th>전술</th>
                    <th>1</th>
                    <td><%=tactics[0].title%> 에대한 설명은?</td>
                    <td><%=tactics[random[0]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td></td>
                    <td><%=tactics[random[1]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td></td>
                    <td><%=tactics[random[2]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td><%=tactics[random[3]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <!-- 용어 -->
                <tr>
                    <th>용어</th>
                    <th>1</th>
                    <td><%=concept[0].title%> 에대한 설명은?</td>
                    <td><%=concept[random[0]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td></td>
                    <td><%=concept[random[1]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td></td>
                    <td><%=concept[random[2]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td><%=concept[random[3]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <!-- 무기 -->
                <tr>
                    <th>무기</th>
                    <td><%=weapon[0].title%> 에대한 설명은?</td>
                    <td><%=weapon[random[0]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td></td>
                    <td><%=weapon[random[1]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td></td>
                    <td><%=weapon[random[2]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td><%=weapon[random[3]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <!-- 사건 -->
                <tr>
                    <th>사건</th>
                    <td><%=accident[0].title%> 에대한 설명은?</td>
                    <td><%=accident[random[0]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td></td>
                    <td><%=accident[random[1]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td></td>
                    <td><%=accident[random[2]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td><%=accident[random[3]-1].exp%></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
