<!DOCTYPE html>
<html>
<%- include ./head %>
    <body>
        <%- include ./nav %>
        <div class="page monitoring">

            <div class="menu">
                <label for="pg-state" class="tab">현황<span></span></label>
                <label for="pg-notice" class="tab">공지사항<span></span></label>
                <label for="pg-user" class="tab">유저관리<span></span></label>
                <input type="radio" name="page" id="pg-state" checked>
                <input type="radio" name="page" id="pg-notice">
                <input type="radio" name="page" id="pg-user">
            </div>
            <div class="wrap">
                <div class="user">
                    <div class="title">
                        부대별 인원 현황
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>No.</th>
                                <th>부대코드</th>
                                <th>인원</th>
                                <th>소속유저</th>
                            </thead>
                            <tbody>
                                <%for(let i=0; i<10; i++){%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="socre">
                    <div class="title">
                        부대별 점수 현황
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>No.</th>
                                <th>부대코드</th>
                                <th>점수</th>
                            </thead>
                            <tbody>
                                <%for(let i=0; i<10; i++){%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="notice">
                    <div class="title">
                        공지사항
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>No.</th>
                                <th>제목</th>
                                <th>내용</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <%for(let i=0; i<10; i++){%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td>육군 추가모집 공지</td>
                                    <td>ㅁㅇ느미ㅡㅁㅇ나말너ㅣㅏㅁ러ㅣㄴ아ㅣㅓㅁㄴㅇ리언ㅁㄹㅇ미ㅏㄴ</td>
                                    <td>관리자</td>
                                    <td>ㅁㄴㅇㅁㄴ리adsasddasㅣ</td>
                                    <td><button class="btn-sm btn-blue">삭제</button></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>     
            </div>
            <div class="wrap">
                <div class="noticeList">
                    <div class="title">
                        유저관리
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>No.</th>
                                <th>제목</th>
                                <th>내용</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <%for(let i=0; i<10; i++){%>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                    <td><%=i%></td>
                                    <td><button class="btn-sm btn-blue">삭제</button></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>     
            </div>
        </div>
    </body>
    <script>
        $('#b').hide();
        $('input:radio[name="page"]').change(function() {
            if($('#pg-state').is(":checked")){
                $('.notice').hide();
                $('.perunit').show();
            } else if($('#pg-notice').is(":checked")){
                $('.perunit').hide();
                $('.notice').show();
            } else if($('#pg-user').is(":checked")){
                $('.perunit').hide();
            }
        });
    </script>
</html>