<!-- 메인화면 ejs -->
<!DOCTYPE html>
<html>
<%- include ./head %>

    <body>
        <%- include ./nav %>
            <div class="page welcome">
                <div class="title">
                    국방퀴즈 풀고,<br>한판 겨루고!
                </div>
                <div class="subTitle">
                    6가지 분야의 다양한 퀴즈를 풀고,<br>포인트를 모아, 부대랭킹을 올려보세요.
                </div>
                <div class="btnGroup">
                    <a id="info" class="btn btn-light-blue" href="#about">국방퀴즈 소개</a>
                    <a class="btn btn-blue" href="signin">시작하기</a>
                </div>
            </div>
            <div class="page intro">
                <a href="quiz-today" class="content">
                    <img src="images/con1.jpeg" alt="">
                    <div class="title">
                        <span class="ec ec-alarm-clock"></span>
                        오늘의 퀴즈
                    </div>
                    <div class="desc">
                        매일 주어지는<br>5개의 퀴즈를 풀고<br>점수를 모아보세요!
                    </div>
                </a>
                <a href="quiz-rank" class="content">
                    <img src="images/con2.jpeg" alt="">
                    <div class="title">
                        <span class="ec ec-boxing-glove"></span>
                        경쟁전
                    </div>
                    <div class="desc">
                        경쟁전에 참가하고<br>점수를 모아보세요!
                    </div>
                </a>
                <a href="ranking" class="content">
                    <img src="images/con3.jpeg" alt="">
                    <div class="title">
                        <span class="ec ec-trophy"></span>
                        부대랭킹
                    </div>
                    <div class="desc">
                        부대원들이 열심히<br>모은 점수로<br>랭킹을 올려보세요!
                    </div>
                </a>
            </div>
            <div class="page board">
                <div class="title">공지사항</div>
                <div class="postList">
                    <% for(let i=0; i < 5; i++) { %>
                        <div class="post">
                            <div class="title">
                                <div class="postTitle">
                                    <% if(ndata[i].ntype) { %>
                                        <span>중요</span>
                                    <% } %>
                                    <%= ndata[i].ntitle %>
                                </div>
                                <div class="postData">
                                    <span>작성자</span>
                                    <%= ndata[i].nauthor %>
                                    <span>작성일</span>
                                    <%= Date(ndata[i].ndate).split(' ')[3] %>
                                    <%= Date(ndata[i].ndate).split(' ')[1] %>
                                    <%= Date(ndata[i].ndate).split(' ')[2] %>
                                </div>
                            </div>
                            <% if(i==0) { %>
                                <div class="desc show">
                                    <span><%= ndata[i].ndesc %></span>
                                </div>
                                <% } else {%>
                                    <div class="desc">
                                        <%= ndata[i].ndesc %>
                                    </div>
                                    <% } %>
                        </div>
                        <% } %>
                </div>
            </div>
            <div id="about" class="page about">
                <div class="title">
                    Let's Talk.
                </div>
                <div class="subTitle">
                    <p>qqaazz0222@naver.com<span>UI디자인 및 경쟁전 개발</span></p>
                    <p>kkh1902@naver.com<span>DB 및 오늘의 퀴즈 개발</span></p>
                    <p>itsjh1242@gmail.com<span>로그인 및 회원기능 개발</span></p>
                    <p>schxo99@gmail.com<span>랭킹 및 마이페이지 개발</span></p>
                </div>
                <div class="license">
                    @ 2022 <strong>MoonChild</strong>. All rights reserved.
                </div>
            </div>
    </body>
    <script>
        
        document.addEventListener('scroll', () => {
            let y = window.scrollY;
            if (y > 120) {
                $('.navbar').addClass('navbar-bg');
            } else {
                $('.navbar').removeClass('navbar-bg');
            }
        });
        $('.post').click(function () {
            $('.post').find('.desc').removeClass('show');
            $(this).find('.desc').toggleClass('show');
        })
        $("#info").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 500);
        });
    </script>
</html>