<!DOCTYPE html>
<html>
<% include ./head.ejs %>

    <body class="bg-color-red">
        <div class="page bg-color-red">
            <div class="page-content">
                <form action="<% if(quizStates.qid == 4) {'/complete'} else {quizStates.qid} %>" method="post">
                    <div class="col">
                        <div class="row">
                            <div class="card card-q">
                                <h1 class="card-title">
                                    <%= quizStates.qid %><strong>
                                            <%=correct_problem.type%>
                                        </strong>
                                        <%=correct_problem.exp.split('.')[0]%>
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <input type="radio" name="quiz" id="answer<%= quizStates.qid %>-1" class="answer"
                                value="1" />
                            <label for="answer<%= quizStates.qid %>-1" class="card card-a popup-2">
                                <% if(ans[quizStates.qid-1]==1 ){ %>
                                    1. <%=correct_problem.title.split('(')[0]%>
                                        <%} else {%>
                                            1. <%=incorrect_problem[0].title.split('(')[0]%>
                                                <%} %>
                            </label>
                        </div>
                        <div class="row">
                            <input type="radio" name="quiz" id="answer<%= quizStates.qid %>-2" class="answer"
                                value="2" />
                            <label for="answer<%= quizStates.qid %>-2" class="card card-a popup-2">
                                <% if(ans[quizStates.qid-1]==2 ){ %>
                                    2. <%=correct_problem.title.split('(')[0]%>
                                        <%} else {%>
                                            2. <%=incorrect_problem[1].title.split('(')[0]%>
                                                <%} %>
                            </label>
                        </div>
                        <div class="row">
                            <input type="radio" name="quiz" id="answer<%= quizStates.qid %>-3" class="answer"
                                value="3" />
                            <label for="answer<%= quizStates.qid %>-3" class="card card-a popup-2">
                                <% if(ans[quizStates.qid-1]==3 ){ %>
                                    3. <%=correct_problem.title.split('(')[0]%>
                                        <%} else {%>
                                            3. <%=incorrect_problem[2].title.split('(')[0]%>
                                                <%} %>
                            </label>
                        </div>
                        <div class="row">
                            <input type="radio" name="quiz" id="answer<%= quizStates.qid %>-4" class="answer"
                                value="4" />
                            <label for="answer<%= quizStates.qid %>-4" class="card card-a popup-2">
                                <% if(ans[quizStates.qid-1]==4 ){ %>
                                    4. <%=correct_problem.title.split('(')[0]%>
                                        <%} else {%>
                                            4. <%=incorrect_problem[3].title.split('(')[0]%>
                                                <%} %>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <% if(quizStates.qid !=1) { %>
                                    <button type="button" class="card-btn-c1 bg-color-black"
                                        onclick="location.href='/quiz/today/<%= quizStates.qid-1 %>'"
                                        
                                        style="float: right">
                                        이전 문제
                                    </button>
                                    <% } %>
                            </div>
                            <div class="col">
                                <% if(quizStates.qid !=4) { %>
                                    <button type="submit" class="card-btn-c1 bg-color-black" style="float: left">
                                        다음 문제
                                    </button>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <% if(quizStates.qid==4) { %>
                        <button type="submit" class="card-btn-c1 bg-color-black" style="float: right">
                            제출
                        </button>
                        <% } %>
                </form>
            </div>
        </div>
    </body>
    <script></script>
    <script src="/javascripts/scroll.js"></script>

</html>